* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
#Purchase (License) Script
vendor/vectorcoder/laravel-installer/src/Controllers/EnvironmentController.php
